<!DOCTYPE html>
<html>
<head>
    <title>takipsizad</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="title" content="takipsizad">
    <meta name="description" content="its my site lol ">
    <meta property="og:type" content="website">
    <meta property="og:title" content="my site">
    <meta property="og:description" content="Takipsizad Site">
    <meta name="theme-color" content="d9c4c4"> 
    <meta property="og:image" content="/images/takipsizad.png">
    <link rel="icon" type="image/ico" sizes="16x16" href="favicon.ico"/>
    <meta name="keywords" content="termsite,webserver,terminal">
</head>

<body>
    <h1>Hello</h1>
    <p>My prices are : this </p>
    <p>1-5 commands: free </p>
    <p>5-10 commands: 5$ </p>
    <p>10-20 commands: 15$ </p>
    <p>20-50 commands: 40$ </p>
    <p>You can send payment to this ethereum account:</p>
    <p>0xf667485f542185d2c27B897E660a589a37b21FCc </p>
    </body>
</html>